#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Ellipse_MarioRossi {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_MarioRossi {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_dr {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Panel_MarioRossi {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 357px;
  height: 34px;
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 357px;
  height: 34px;
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_102 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_103 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_104 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_105 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_106 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}