#s-1d849fec-3b3d-4c99-87ca-90179266a7ab > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_1 {
  position: absolute;
  width: 360px;
  height: 65px;
  background-color: #4A86E8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_1 span {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_72 > svg {
  width: 24px;
  height: 24px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_72 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #shapewrapper-s-Ellipse_MarioRossi {
  display: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Ellipse_MarioRossi .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: hidden;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Ellipse_MarioRossi .content {
  width: 50px;
  height: 50px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Ellipse_MarioRossi {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #shapewrapper-s-Ellipse_MarioRossi .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #shapewrapper-s-Ellipse_MarioRossi span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #shapewrapper-s-Ellipse_MarioRossi span#rtr-s-Ellipse_MarioRossi_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_MarioRossi {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_dr {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_dr .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_dr span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_dr span#rtr-s-Text_dr_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_1 span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_1 span#rtr-s-Text_1_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_1 > svg {
  width: 24px;
  height: 24px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_1 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Dynamic_Panel_profilo {
  position: absolute;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Panel_MarioRossi {
  width: 358px;
  height: 101px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  box-shadow: 4px 9px 5px 0px #CCCCCC;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Panel_MarioRossi td.layout {
  padding: 0px 0px 0px 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Panel_MarioRossi .verticalalign {
  vertical-align: top;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_3 {
  position: absolute;
  width: 357px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_4 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_4 span#rtr-s-Text_4_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Button_1 {
  position: absolute;
  width: 357px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 6px 7px 5px 0px #CCCCCC;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Button_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Button_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_2 > svg {
  width: 24px;
  height: 24px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_2 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Button_2 {
  position: absolute;
  width: 357px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 3px 9px 5px 0px #CCCCCC;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Button_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Button_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_8 > svg {
  width: 24px;
  height: 24px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_8 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_2 {
  position: absolute;
  width: 358px;
  height: 181px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_3 > svg {
  width: 50px;
  height: 50px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_3 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_6 span#rtr-s-Text_6_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_7 {
  position: absolute;
  width: 336px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_102 > svg {
  width: 24px;
  height: 24px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_102 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_103 > svg {
  width: 24px;
  height: 24px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_103 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_104 > svg {
  width: 24px;
  height: 24px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_104 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_105 > svg {
  width: 24px;
  height: 24px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_105 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_106 > svg {
  width: 24px;
  height: 24px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_106 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_8 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_8 span#rtr-s-Text_8_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: hidden;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Ellipse_2 .content {
  width: 50px;
  height: 50px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Ellipse_2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #shapewrapper-s-Ellipse_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_5 {
  position: absolute;
  width: 38px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_3 {
  position: absolute;
  width: 136px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_4 > svg {
  width: 35px;
  height: 33px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_4 {
  position: absolute;
  width: 35px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_10 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_10 span {
  color: #6BCDFD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_10 span#rtr-s-Text_10_0 {
  color: #6BCDFD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_4 {
  position: absolute;
  width: 359px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_6 > svg {
  width: 22px;
  height: 24px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_6 {
  position: absolute;
  width: 22px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_7 > svg {
  width: 20px;
  height: 20px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_7 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_9 > svg {
  width: 21px;
  height: 21px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_9 {
  position: absolute;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_10 > svg {
  width: 26px;
  height: 21px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_10 {
  position: absolute;
  width: 26px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_9 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_9 span#rtr-s-Text_9_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_11 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_11 span#rtr-s-Text_11_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_11 {
  position: absolute;
  width: 42px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_12 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_12 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_12 span#rtr-s-Text_12_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_13 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_13 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_13 span#rtr-s-Text_13_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_14 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_14 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_14 span#rtr-s-Text_14_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}