#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Ellipse_MarioRossi {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_MarioRossi {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_dr {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1d849fec-3b3d-4c99-87ca-90179266a7ab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}