#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}