#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_7 span {
  color: #000040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_4 {
  position: absolute;
  width: 98px;
  height: 300px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_5 {
  position: absolute;
  width: 98px;
  height: 300px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_7 {
  position: absolute;
  width: 98px;
  height: 300px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_8 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_9 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_10 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_10 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_8 {
  position: absolute;
  width: 58px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_8 span {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_12 {
  position: absolute;
  width: 58px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_12 span {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_13 {
  position: absolute;
  width: 58px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_13 span {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_14 {
  position: absolute;
  width: 58px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_14 span {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_1 {
  position: absolute;
  width: 360px;
  height: 71px;
  background-color: #4A86E8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_1 span {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Line_1 {
  position: absolute;
  width: 48px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
  overflow: hidden;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Ellipse_1 .content {
  width: 10px;
  height: 10px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Ellipse_1 {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #D9D9D9;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #shapewrapper-s-Ellipse_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
  overflow: hidden;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Ellipse_2 .content {
  width: 10px;
  height: 10px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Ellipse_2 {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #D9D9D9;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #shapewrapper-s-Ellipse_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Line_2 {
  position: absolute;
  width: 48px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Ellipse_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
  overflow: hidden;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Ellipse_4 .content {
  width: 10px;
  height: 10px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Ellipse_4 {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #666666;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #shapewrapper-s-Ellipse_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Line_3 {
  position: absolute;
  width: 48px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Ellipse_5 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
  overflow: hidden;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Ellipse_5 .content {
  width: 10px;
  height: 10px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Ellipse_5 {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #666666;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #shapewrapper-s-Ellipse_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Image_43 > svg {
  width: 28px;
  height: 32px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Image_43 {
  position: absolute;
  width: 28px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_2 {
  position: absolute;
  width: 359px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Image_3 > svg {
  width: 22px;
  height: 24px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Image_3 {
  position: absolute;
  width: 22px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Image_4 > svg {
  width: 20px;
  height: 20px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Image_4 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Image_5 > svg {
  width: 21px;
  height: 21px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Image_5 {
  position: absolute;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Image_6 > svg {
  width: 26px;
  height: 21px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Image_6 {
  position: absolute;
  width: 26px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Image_10 {
  position: absolute;
  width: 42px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_11 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-21bd5fd8-b198-4b8b-a3d5-e04c4d125150 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}