#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Rectangle_9 {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Rectangle_10 {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Text_dr {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2f70f722-6d9b-436c-9f09-df6074838cd5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}