#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_4 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_8 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_10 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_14 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-349ca4f3-aaab-4162-bd1a-ae7b84b5c790 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}