#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}