#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_6 {
  position: absolute;
  width: 358px;
  height: 93px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_13 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_17 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_23 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_23 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_24 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_24 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_27 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_27 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_27 span#rtr-s-Text_27_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_22 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_22 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_30 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_30 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_30 span#rtr-s-Text_30_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_7 {
  position: absolute;
  width: 354px;
  height: 92px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_1 {
  position: absolute;
  width: 358px;
  height: 52px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_1 span {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Image_71 > svg {
  width: 24px;
  height: 24px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Image_71 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Input_1 {
  position: absolute;
  width: 196px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Input_1 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  text-shadow: none;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Input_2 {
  position: absolute;
  box-shadow: none;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Button_1 {
  position: absolute;
  width: 318px;
  height: 42px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_2 {
  position: absolute;
  width: 359px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Image_3 > svg {
  width: 22px;
  height: 24px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Image_3 {
  position: absolute;
  width: 22px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Image_4 > svg {
  width: 20px;
  height: 20px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Image_4 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Image_5 > svg {
  width: 21px;
  height: 21px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Image_5 {
  position: absolute;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Image_6 > svg {
  width: 26px;
  height: 21px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Image_6 {
  position: absolute;
  width: 26px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Image_10 {
  position: absolute;
  width: 42px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_11 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-55b15dcd-cbc8-4b95-8296-c97e2ef8c1c0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}