#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_5 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_17 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_7 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_14 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 99px;
  height: 36px;
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 99px;
  height: 36px;
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Rectangle_PrenotazioneVisita {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_DesideriPagareLaTuaVisita {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Button_PrenotaEpaga {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 105px;
  height: 43px;
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Button_PrenotaSenzaPagare {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 105px;
  height: 43px;
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_28 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Rectangle_PrenotazioneVisita_1 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_DesideriPagareLaTuaVisita_1 {
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Button_PrenotaEpaga_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 96px;
  height: 25px;
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Button_PrenotaSenzaPagare_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 99px;
  height: 25px;
  -ms-transform: rotate(0.0deg);
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Image_73 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}