#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Rectangle_PrenotazioneVisita {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_DesideriPagareLaTuaVisita {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Button_PrenotaEpaga {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Button_PrenotaSenzaPagare {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Rectangle_PrenotazioneVisita_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Text_DesideriPagareLaTuaVisita_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Button_PrenotaEpaga_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Button_PrenotaSenzaPagare_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-83d39a1d-adf7-4c97-838b-a468f500b69b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}