#s-9bf41eeb-ed52-4e80-aca2-92e04acb619e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf41eeb-ed52-4e80-aca2-92e04acb619e #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf41eeb-ed52-4e80-aca2-92e04acb619e #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9bf41eeb-ed52-4e80-aca2-92e04acb619e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}