#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Text_dr {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a722af5b-297c-42b1-862a-bd6269edf8b9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}