#s-cb32bf1e-7443-4969-bfb1-2cf4b717602d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb32bf1e-7443-4969-bfb1-2cf4b717602d #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb32bf1e-7443-4969-bfb1-2cf4b717602d #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb32bf1e-7443-4969-bfb1-2cf4b717602d #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb32bf1e-7443-4969-bfb1-2cf4b717602d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb32bf1e-7443-4969-bfb1-2cf4b717602d #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb32bf1e-7443-4969-bfb1-2cf4b717602d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb32bf1e-7443-4969-bfb1-2cf4b717602d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb32bf1e-7443-4969-bfb1-2cf4b717602d #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb32bf1e-7443-4969-bfb1-2cf4b717602d #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb32bf1e-7443-4969-bfb1-2cf4b717602d #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb32bf1e-7443-4969-bfb1-2cf4b717602d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb32bf1e-7443-4969-bfb1-2cf4b717602d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb32bf1e-7443-4969-bfb1-2cf4b717602d #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb32bf1e-7443-4969-bfb1-2cf4b717602d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb32bf1e-7443-4969-bfb1-2cf4b717602d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb32bf1e-7443-4969-bfb1-2cf4b717602d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cb32bf1e-7443-4969-bfb1-2cf4b717602d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}