#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_5 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_7 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_9 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_10 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_12 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_17 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 93px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 338px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Image_73 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Table_2 {
  border-collapse: separate;
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d311f3e6-1f62-4493-a143-f220945bfd2d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}