#s-da7a3086-3e3c-4ab6-853c-148da24cd8a1 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da7a3086-3e3c-4ab6-853c-148da24cd8a1 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da7a3086-3e3c-4ab6-853c-148da24cd8a1 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da7a3086-3e3c-4ab6-853c-148da24cd8a1 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da7a3086-3e3c-4ab6-853c-148da24cd8a1 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da7a3086-3e3c-4ab6-853c-148da24cd8a1 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da7a3086-3e3c-4ab6-853c-148da24cd8a1 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da7a3086-3e3c-4ab6-853c-148da24cd8a1 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da7a3086-3e3c-4ab6-853c-148da24cd8a1 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da7a3086-3e3c-4ab6-853c-148da24cd8a1 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-da7a3086-3e3c-4ab6-853c-148da24cd8a1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}