#s-dd780ca9-59cf-4eec-b12b-a50141bd505f > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Rectangle_1 {
  position: absolute;
  width: 358px;
  height: 52px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_71 > svg {
  width: 24px;
  height: 24px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_71 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_1 {
  position: absolute;
  width: 196px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_1 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  text-shadow: none;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_1 {
  position: absolute;
  width: 328px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_1 span#rtr-s-Text_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Accesso_spid {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Accesso_spid .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Accesso_spid span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Accesso_spid span#rtr-s-Accesso_spid_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_Email input::-webkit-input-placeholder {
  color: #000000;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_Email input::-moz-placeholder {
  color: #000000;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_Email input:-moz-placeholder {
  color: #000000;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_Email input:-ms-input-placeholder {
  color: #000000;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_Email {
  position: absolute;
  width: 306px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_Email .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_Email input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_Password input::-webkit-input-placeholder {
  color: #000000;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_Password input::-moz-placeholder {
  color: #000000;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_Password input:-moz-placeholder {
  color: #000000;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_Password input:-ms-input-placeholder {
  color: #000000;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_Password {
  position: absolute;
  width: 306px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_Password .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_Password input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Email {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Email .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Email span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Email span#rtr-s-Email_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Email span#rtr-s-Email_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-bottone_acceso {
  position: absolute;
  width: 287px;
  height: 34px;
  background-color: #0000FF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-bottone_acceso .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-bottone_acceso span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-bottone_acceso span#rtr-s-bottone_acceso_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-bottone_acceso_1 {
  position: absolute;
  width: 287px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-bottone_acceso_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-bottone_acceso_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-bottone_acceso_1 span#rtr-s-bottone_acceso_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-non_hai_account {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Ebrima',Arial;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-non_hai_account .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-non_hai_account span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Ebrima',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-non_hai_account span#rtr-s-non_hai_account_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Ebrima',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-registrati input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-registrati input::-moz-placeholder {
  color: #B4B4B4;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-registrati input:-moz-placeholder {
  color: #B4B4B4;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-registrati input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-registrati {
  position: absolute;
  width: 85px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  opacity: 0.7;
  box-shadow: none;
  text-shadow: none;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-registrati .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-registrati input {
  color: #0000FF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Rectangle_2 {
  position: absolute;
  width: 359px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_3 > svg {
  width: 22px;
  height: 24px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_3 {
  position: absolute;
  width: 22px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_4 > svg {
  width: 20px;
  height: 20px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_4 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_5 > svg {
  width: 21px;
  height: 21px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_5 {
  position: absolute;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_6 > svg {
  width: 26px;
  height: 21px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_6 {
  position: absolute;
  width: 26px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_3 span#rtr-s-Text_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_4 span#rtr-s-Text_4_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_10 {
  position: absolute;
  width: 42px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_5 span#rtr-s-Text_5_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_6 span#rtr-s-Text_6_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_7 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_7 span#rtr-s-Text_7_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}