#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Accesso_spid {
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Email {
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-bottone_acceso {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 287px;
  height: 34px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-bottone_acceso_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 287px;
  height: 34px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-non_hai_account {
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-registrati {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}