#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Accesso_spid {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Input_Password INPUT {
  font-family: Arial;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Email {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-bottone_acceso {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-bottone_acceso_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-non_hai_account {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-dd780ca9-59cf-4eec-b12b-a50141bd505f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}