#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 328px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Button_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 328px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e021d876-894c-4ffd-8416-dcfe46d99ad3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}