#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fa6ed3e0-d65b-4585-95d7-da9ce751893e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}